BIND_ADDRESS=127.0.0.1:20011

OPENSEARCH_PASS=pass
OPENSEARCH_ADDR=https://127.0.0.1:9200

PUBSUB=amqp://user:pass@127.0.0.1:5672
DATA_SOURCE=postgres://user:pass@127.0.0.1:5432/webitel?sslmode=disable
CONSUL=127.0.0.1:8500